* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,h4 {
    text-align: center;
}

.container {
    max-width: 960px;
}

.tulip-container {
    width: 200px;
    height: 400px;
}

.builder-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.button {
    background: rgb(255, 255, 255);
    border: 0 solid rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
}

.button:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px;
}

.button:focus {
    outline: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.prompt-container {
    position: relative;
}