* {
    font-family: 'Arvo', serif;
}

body {
    margin: 0;
}

h1,h4 {
    text-align: center;
}

.logo {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    max-width: 960px;
}

.tulip-container {
    width: 200px;
    height: 400px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 8% 0 8%;
}

.flex-item {
    flex: 1 0 auto;
}

.button {
    background: rgb(255, 255, 255);
    border: 0 solid rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
}

.social-link {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
}

.button:hover, .social-link:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px;
}

.button:focus {
    outline: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.prompt-container {
    position: relative;
    max-width: 276px;
}

.social-icon--facebook {
    background-color: #3b5998;
}

.social-icon--twitter {
    background-color: #00aced;
}

.social-icon--whatsapp {
    background-color: #2cb742;
}

.share-container {
    margin-top: 25px;
    margin-bottom: 15px;
}

.muted {
    color: #999999;
}

.heading {
    font-family: 'Annie Use Your Telescope', cursive;
    margin-top: 0;
}

.no-wrap {
    flex-wrap: nowrap;
    justify-content: center;
}

.footer {
    color: #999999;
    text-align: center;
    margin-bottom: 0;
}

.padded {
    padding: 15px 15px 30px 15px;
}

.link-box {
    outline: none;
    resize: none;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.muted-link {
    color: #999999;
}

.muted-link:hover {
    color: #333333;
}